[submodule "faster-miniKanren"]
	path = faster-miniKanren
	url = https://github.com/Kakadu/faster-miniKanren.git
[submodule "ocanren02master"]
	path = ocanren02master
	url = https://github.com/dboulytchev/OCanren.git
	branch = master
[submodule "ocanren11cunif"]
	path = ocanren11cunif
	url = https://github.com/Kakadu/ocanren.git
[submodule "ocanren04unif_cps"]
	path = ocanren04unif_cps
	url = https://github.com/eucpp/ocanren.git
	branch = opt2
