[submodule "faster-miniKanren"]
	path = faster-miniKanren
	url = https://github.com/Kakadu/faster-miniKanren.git
[submodule "ocanren01tagless"]
	path = ocanren01tagless
	url = https://github.com/Kakadu/OCanren.git
	branch = bench-main1
[submodule "ocanren02master"]
	path = ocanren02master
	url = https://github.com/dboulytchev/OCanren.git
	branch = master
